"*":
  core:
    telemetryConsent: "no"
    titleBar: "custom-inset"
  editor:
    fontFamily: "Fira Code, Menlo, Consolas, DejaVu Sans Mono, monospace"
    showIndentGuide: true
    showInvisibles: true
  welcome:
    showOnStartup: false
