'atom-workspace':
  'cmd-b': 'tree-view:toggle'
  'cmd-g': 'github:toggle-git-tab'

'atom-workspace atom-text-editor:not([mini])':
  'cmd-[': 'pane:show-previous-item'
  'cmd-]': 'pane:show-next-item'
